{% extends model('component') %}

{% define config = {
    name: 'payment-step',
    tag: 'payment-step',
} %}

{% define attributes = {
    'client-id': required,
    'seller-id': required,
    'order-reference-url': required,
    'shipment-methods-url': required,
    'update-shipment-method-url': required,
    'locale': required,
    'order-reference-id': null,
    'address-scope': required,
    'wallet-scope': required,
    'shipment-methods-holder': required,
    'display-mode': null,
    'name-shipment-method': required,
    'summary-info-holder': required,
} %}

{% block body %}
    {% for message in app.session.flashbag.get('flash.messages.error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <div class="box">
        <div id="{{ config.jsName }}__address-item" class="{{ config.name }}__address-item"></div>
    </div>

    <div class="box spacing-bottom--big">
        <div id="{{ config.jsName }}__wallet-item" class="{{ config.name }}__wallet-item"></div>
    </div>

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__shipment-methods-ajax-provider',
        attributes: {
            method: 'post',
            url: attributes['shipment-methods-url'],
        },
    } only %}

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__order-reference-ajax-provider',
        attributes: {
            method: 'post',
            url: attributes['order-reference-url'],
        },
    } only %}

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__shipment-update-ajax-provider',
        attributes: {
            method: 'post',
            url: attributes['update-shipment-method-url'],
        },
    } only %}
{% endblock %}
