{% extends model('component') %}

{% define config = {
    name: 'shipment-method',
    tag: 'shipment-method'
} %}

{% define data = {
    quoteTransfer: required
} %}

{% block body %}
    <div class="box">
        <h5>{{ app['cart.quantity'] }} {{ 'checkout.step.summary.items' | trans }}</h5>
        <h5>{{ 'checkout.step.summary.overview' | trans }}</h5>
        <ul class="list">
            <li class="list__item">
                {{ 'checkout.step.summary.sub_total' | trans }}
                <span>{{ data.quoteTransfer.totals.subtotal | money }}</span>
            </li>

            {% if data.quoteTransfer.shipment and data.quoteTransfer.shipment.method %}
                <li class="list__item">
                    <strong>{{ 'checkout.step.summary.shipping' | trans }}</strong>
                </li>

                <li class="list__item">
                    {% if data.quoteTransfer.shipment.method.name is not empty %}
                        {{ data.quoteTransfer.shipment.method.name }}
                    {% endif %}

                    {% if data.quoteTransfer.shipment.method.storeCurrencyPrice is not null %}
                        {{ data.quoteTransfer.shipment.method.storeCurrencyPrice | money }}
                    {% endif %}
                </li>
            {% endif %}

            <h1>TO FIX { % include '@checkout/checkout/partials/summary-discounts.twig' % }</h1>

            <li class="list__item">
                <h5>{{ 'checkout.step.summary.grand_total' | trans }}</h5>
                <h5>
                    <strong>{{ data.quoteTransfer.totals.grandtotal | money }}</strong>
                </h5>
            </li>

            <li class="list__item">
                {{ 'checkout.step.summary.tax' | trans }}
                <span>{{ data.quoteTransfer.totals.taxtotal.amount | money }}</span>
            </li>
        </ul>
    </div>
{% endblock %}
