{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% set steps = [{
    title: 'checkout.amazonpay' | trans,
    route: null,
    isActive: true,
    isEnabled: true
}] %}

{% block breadcrumbs %}
    {% include view('cart-checkout-breadcrumb', 'CheckoutWidget') with {
        data: {
            addCartBreadcrumb: true,
            isCartPage: false,
            checkoutBreadcrumbs: steps
        }
    } only %}
{% endblock %}

{% block content %}
    <pre>{{ dump('clientId:', amazonpayConfig.clientId) }}</pre>
    <pre>{{ dump('sellerId:', amazonpayConfig.sellerId) }}</pre>
    <pre>{{ dump('orderReferenceUrl:', path('amazonpay_set_order_reference')) }}</pre>
    <pre>{{ dump('shipmentMethodsUrl:', path('amazonpay_get_shipment_methods')) }}</pre>
    <pre>{{ dump('locale:', app.locale) }}</pre>
    {% include molecule('script-loader') with {
        attributes: {
            src: amazonpayConfig.isSandbox ? amazonpayConfig.widgetScriptPathSandbox : amazonpayConfig.widgetPathScript
        }
    } only %}
    {% include molecule('script-loader') with {
        attributes: {
            src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'
        }
    } only %}
    <div class="box">
        <div class="grid">
            <div class="col col--sm-12">
                {% if quoteTransfer.payment and quoteTransfer.payment.paymentMethod %}
                    <div>
                        <h5>{{ 'checkout.step.summary.payment' | trans }}</h5>
                        <ul>
                            <li>
                                <span>{{ 'checkout.step.summary.with_method' | trans }}</span>
                                {{ quoteTransfer.payment.paymentMethod }}
                            </li>
                        </ul>
                    </div>
                {% endif %}

                {% if cartItems is defined %}
                    <div>
                        <ul class="no-bullet">
                            {% for item in cartItems %}
                                <li>
                                    {{ item.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="col col--sm-12">
                {% block amazonpay_widgets %}
                    {% include atom('address-book', 'AmazonPay') with {
                        attributes: {
                            clientId: amazonpayConfig.clientId,
                            sellerId: amazonpayConfig.sellerId,
                            orderReferenceUrl: path('amazonpay_set_order_reference'),
                            shipmentMethodsUrl: path('amazonpay_get_shipment_methods'),
                            locale: app.locale
                        }
                    } only %}
                    {#{% include atom('wallet', 'AmazonPay') with {#}
                        {#attributes: {#}
                            {#clientId: amazonpayConfig.clientId,#}
                            {#sellerId: amazonpayConfig.sellerId,#}
                            {#orderReferenceUrl: path('amazonpay_set_order_reference'),#}
                            {#shipmentMethodsUrl: path('amazonpay_get_shipment_methods'),#}
                            {#locale: app.locale#}
                        {#}#}
                    {#} only %}#}
                    {#{{ render(path('amazonpay_checkout_widget')) }}#}
                {% endblock %}

                <div class="callout">
                    <div id="shipmentMethods"></div>
                </div>
            </div>

            <div class="col col--sm-12">
                <div id="amazonpaySummeryInformation">
                    {#{% include molecule('shipment-method', 'AmazonPay') with {#}
                        {#data: {#}
                            {#quoteTransfer: quoteTransfer#}
                        {#}#}
                    {#} only %}#}
                    {#{% include '@amazon-pay/payment/update-shipment-method.twig' with {'quoteTransfer': quoteTransfer} %}#}
                </div>
            </div>

            <div class="col col--sm-12">
                <a href="{{ path('amazonpay_confirm_purchase') }}" id="amazonpayPlaceOrderLink" data-component="disable-on-click">{{ 'checkout.step.place.order' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
