{% extends "@amazonpay/layout.twig" %}

{% block title %}
    <h3>{{ 'checkout.step.summary.title' | trans }}</h3>
{% endblock %}

{% block breadcrumbItems %}
    <li><a href="/">{{ 'global.home' | trans }}</a></li>
    <li><a href="{{ url('cart') }}">{{ 'cart.cart'|trans }}</a></li>
    <li>{{ 'checkout.amazonpay'|trans }}</li>
{% endblock %}

{% block content %}
    <div class="row xlarge-unstack">
        <div class="small-12 xlarge-3 columns">
            <div class="row">
                <div class="small-12 medium-6 xlarge-12 columns">
                    {% if quoteTransfer.payment.paymentMethod %}
                    <div class="callout">
                        <h5>{{ 'checkout.step.summary.payment' | trans }}</h5>
                        <ul class="no-bullet">
                            <li>
                                <span class="__secondary">{{ 'checkout.step.summary.with_method' | trans }}</span> {{ quoteTransfer.payment.paymentMethod }}
                            </li>
                            {% if quoteTransfer.payment.summaryPartialPath %}
                                <li>
                                    {% include '@' ~ quoteTransfer.payment.summaryPartialPath ~ '.twig' with {'quoteTransfer': quoteTransfer} %}
                                </li>
                            {% endif %}
                            <li>
                                {% if quoteTransfer.billingAddress %}
                                    {% include '@checkout/checkout/partials/summary-address.twig' with {'address': quoteTransfer.billingAddress} %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="small-12 medium-6 xlarge-12 columns">
                    {% if quoteTransfer.shipment.method.idShipmentMethod %}
                    <div class="callout">
                        <h5>{{ 'checkout.step.summary.shipping' | trans }}</h5>
                        <ul class="no-bullet">
                            <li><span class="__secondary">{{ 'checkout.step.summary.with_method' | trans }}</span> {{ quoteTransfer.shipment.method.name }}</li>
                            <li>
                                {% if quoteTransfer.shippingAddress %}
                                    {% include '@checkout/checkout/partials/summary-address.twig' with {'address': quoteTransfer.shippingAddress} %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            {% block amazonpay_widgets %}
                {{ render(path('amazonpay_checkout_widget')) }}
            {% endblock %}
            <div class="callout">
                <div id="shipmentMethods"></div>

                {% if cartItems is defined %}
                <ul class="no-bullet">
                    {% for item in cartItems %}
                        {% if item.bundleProduct is defined %}
                            {% include '@checkout/checkout/partials/summary-item.twig' with {'item': item.bundleProduct, 'bundleItems' : item.bundleItems} %}
                        {% else %}
                            {% include '@checkout/checkout/partials/summary-item.twig' %}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="small-12 medium-6 columns">
            <div class="callout" id="amazonpaySummeryInformation">
                {% include '@Amazonpay/payment/update-shipment-method.twig' with {'quoteTransfer': quoteTransfer} %}
            </div>
        </div>
    </div>

    <div class="small-12 columns">
        <div class="callout">
            <div class="row align-right">
                <div class="small-12 medium-6 large-4 xlarge-3 columns">
                    <a href="{{ path('amazonpay_confirm_purchase') }}" disabled="true" id="amazonpayPlaceOrderLink" class="button expanded __no-margin-bottom">Place order</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
