{#{% for shipmentMethod in shipmentMethods %}#}
    {#<ul>#}
        {#<input type="radio" id="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}" name="amazonpayShipmentMethod"#}
               {#value="{{ shipmentMethod.idShipmentMethod }}" {% if selectedShipmentMethodId == shipmentMethod.idShipmentMethod %} checked="checked"{% endif %}#}
               {#{% if isAmazonPaymentInvalid %} disabled="disabled"{% endif %}#}
        {#/>#}
        {#<label for="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}">{{ shipmentMethod.name }}</label>#}
    {#</ul>#}
{#{% endfor %}#}

{#<script>#}
    {#amazonpayConfig.updateShipmentMethodUrl = "{{ path('amazonpay_update_shipment_method') }}";#}
{#</script>#}
{#<script src="/assets/default/js/spryker-yves-amazon-pay-shipment-methods.js"></script>#}

<h1>shipmentMethod</h1>
{% for shipmentMethod in shipmentMethods %}
    <ul>
        <input type="radio" id="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}" name="amazonpayShipmentMethod"
               value="{{ shipmentMethod.idShipmentMethod }}" {% if selectedShipmentMethodId == shipmentMethod.idShipmentMethod %} checked="checked"{% endif %}
            {% if isAmazonPaymentInvalid %} disabled="disabled"{% endif %}
        />
        <label for="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}">{{ shipmentMethod.name }}</label>
    </ul>
{% endfor %}

<script>
    amazonpayConfig.updateShipmentMethodUrl = "{{ path('amazonpay_update_shipment_method') }}";
</script>
<script>
    $(function() {
        $('input[name=amazonpayShipmentMethod]').change(function () {
            $('#amazonpayPlaceOrderLink').addClass('invisible');

            $('#amazonpaySummeryInformation').load(
                amazonpayConfig.updateShipmentMethodUrl,
                {'shipment_method_id': $(this).val()},
                function() {
                    $('#amazonpayPlaceOrderLink').removeClass('invisible');
                }
            );
        });

        if (!selectDefaultShipmentMethod()) {
            $('#amazonpayPlaceOrderLink').removeClass('invisible');
        }
    });

    function selectDefaultShipmentMethod() {
        if ($('input[name=amazonpayShipmentMethod]:checked').length === 0) {
            $('input[name=amazonpayShipmentMethod]:first').click();

            return true;
        }

        return false;
    }
</script>
