{% for shipmentMethod in shipmentMethods %}
    <ul>
        <input type="radio" id="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}" name="amazonpayShipmentMethod"
               value="{{ shipmentMethod.idShipmentMethod }}" {% if selectedShipmentMethodId == shipmentMethod.idShipmentMethod %} checked="checked"{% endif %}
               {% if isAmazonPaymentInvalid %} disabled="disabled"{% endif %}
        />
        <label for="amazonpayShipmentMethod_{{ shipmentMethod.idShipmentMethod }}">{{ shipmentMethod.name }}</label>
    </ul>
{% endfor %}

<script>
    amazonpayConfig.updateShipmentMethodUrl = "{{ path('amazonpay_update_shipment_method') }}";
</script>
<script src="/assets/default/js/spryker-yves-amazon-pay-shipment-methods.js"></script>
