{% for message in app.session.flashbag.get('flash.messages.error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

<div id="amazonpayAddressBookWidgetContainer"> </div>

<div id="amazonpayWalletWidgetContainer"> </div>

<script>
    var amazonpayConfig = {
        clientId: "{{ amazonpayConfig.clientId }}",
        sellerId: "{{ amazonpayConfig.sellerId }}",
        setOrderReferenceUrl: "{{ path('amazonpay_set_order_reference') }}",
        getShipmentMethodsUrl: "{{ path('amazonpay_get_shipment_methods') }}",
        locale: '{{ app.locale }}'
        {% if addressBookMode is not empty %}
        , addressBookMode: '{{ addressBookMode }}'
        {% endif %}
        {% if quoteTransfer.amazonPayment is defined %}
        , amazonOrderReferenceId: '{{ quoteTransfer.amazonPayment.orderReferenceId }}'
        {% endif %}
    };
</script>
<script src="/assets/default/js/spryker-yves-amazon-pay-checkout-widgets.js"></script>
