<script>
    var amazonpayConfig = {
        clientId: '{{ amazonpayConfig.clientId }}',
        sellerId: '{{ amazonpayConfig.sellerId }}',
        logout: {{ logout }},
        redirectUrl: '{{ path('amazonpay_checkout', {'amazonpay': 'amazonpay'}) }}',
        buttonType: '{{ amazonpayConfig.buttonType}}',
        buttonColor: '{{ amazonpayConfig.buttonColor}}',
        buttonSize: '{{ amazonpayConfig.buttonSize}}',
        locale: '{{ app.locale }}'
    };
</script>

<div id="AmazonPayButton" align="center"></div>

<script src="/assets/default/js/spryker-yves-amazon-pay-pay-button.js"></script>
{% include "@amazon-pay/partials/scripts.twig" %}
